.quizBuilderContainer {
    width: 600px;
    padding: 0 20px 20px 20px;
    background-color: #eee;
    border: 3px solid rgb(1, 22, 209);
    border-radius: 5px;
}

.quizBuilderContainer h1 {
    background-color:#3399ff;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;    
}

#questionsContainer.overflowScroll {
    overflow: auto;
    max-height: var(--questions-max-height);
}

.inputStyles {
    display: block;
    margin: 10px 0px;
    width: 75%;
    height: 25px;
}

.inputHeaderStyle {
    display: block;
    font-size: 1.5rem;
}
.questionAnswer {
    font-size: 1.5rem;
}

.questionChoices {
    font-size: 1.5rem;
}

.questionText {
    font-size: 1.5rem;
}

.questionTitle {
    font-size: 1.5rem;
}
#newQuestionButton {
    cursor: pointer;
    background-color: #3399ff;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 50%;
    border-radius: 3px;
    border: none;
}

.customQuizButton {
    text-align: center
}

#editQuizSelect {
    width: 78%;
}

#editQuizButton {
    width: 10%;
    cursor: pointer;
}

#deleteQuizButton {
    width: 11%;
    cursor: pointer;
    background-color: red;
    border-color: red;
}

.editQuiz {
    background-color: #ddd;
    font-size: 1.8rem;
    color: black;
    border: 1px solid #3399ff;
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.removeQuestionButton {
    display: inline;
    background-color: red;
    border-radius: 5px;
    float: right;
    color: white;

}

.error {
    display: none;
    color: red;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.removeQuestionButton:first-child {
    display: none;
} 