.quizBuilderContainer {
    width: 600px;
    padding: 0 20px 20px 20px;
    background-color: #eee;
    border: 3px solid rgb(1, 22, 209);
    border-radius: 5px;
}

.quizBuilderContainer h1 {
    background-color:#3399ff;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;    
}

.inputStyles {
    display: block;
    margin: 10px 0px;
    width: 75%;
    height: 25px;
}

.inputHeaderStyle {
    display: block;
    font-size: 1.5rem;
}
.questionAnswer {
    font-size: 1.5rem;
}

.questionChoices {
    font-size: 1.5rem;
}

.questionText {
    font-size: 1.5rem;
}

.questionTitle {
    font-size: 1.5rem;
}
#newQuestionButton {
    cursor: pointer;
    background-color: #3399ff;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 50%;
    margin: 8px 0 8px 0;
    border-radius: 3px;
    border: none;
}