@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #3399ff;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.backLink {
    font-size: 1.25rem;
    color: blue;
}