@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #3399ff;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}


.quiz-box {
    margin-top: 10vh;
    background-color: #eee;
    padding: 20px;
    border: 0 transparent;
    border-radius: 5px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.backLink {
    font-size: 1.25rem;
    color: blue;
}


.editQuizInput {
    background-color: #ddd;
    font-size: 1.8rem;
    color: black;
    border: 1px solid #3399ff;
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.customQuizButton {
    text-align: center
}

#createQuizButton {
    background-color: #3ccd55;
}

.editAndDeleteQuizContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#editQuizSelect {
    flex-grow: 1;
}

#editQuizButton {
    justify-content: center;
    width: 100px;
    cursor: pointer;
}

#deleteQuizButton {
    padding-left: 8px;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    background-color: red;
    border-color: red;
}


@media screen and (max-width: 768px) {
    .container {
      padding: 1px;
    }
    .quiz-box {
        margin-top: 1px;
        padding: 1px;
    }

    #quizChooser {
        padding: 10px;
    }
    
    #customQuizContainer {
        padding: 10px;
    }
    .editAndDeleteQuizContainer {
        gap: 0;
    }
    #editQuizSelect {
        width: 99%;
    }
    #editQuizButton {
        width: 48%;
        margin-right: 4%;
    }
    #deleteQuizButton {
        width: 48%;
    }
  }